%section
	%h1.title About Us	
	%div.side-image
		%div.images-wrapper
		%div.content
			%h3 Our vision
			%p Our goal for our community is to make a deep, positive and meaningful difference in their lives by helping them to develop an intelligent plan to achieve their ideal body and lifestyle.
			%h3 Our mission
			%p To provide all members with an unparalleled fitness experience by offering the best nutrition information, world-class coaches, and a supportive environment to help achieve their goals. At GymPal our trainers and users are living life to the fullest possible. Check out what GymPal is all about!