<!-- %h1 Home

- if user_signed_in?
	%div.content-wrapper
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ut nesciunt inventore sunt reiciendis non aspernatur voluptatum consequuntur nobis, dicta repudiandae, ratione ullam autem qui nostrum quam odio modi ea.
- else
	%div.content-wrapper
		%h2 Free Membership
		%h4 With our free membership, you'll gain access to our database of nutritional recipes, detailed exercises, and your very own workout log. 
		= link_to "Sign Up", new_user_registration_path(plan: @basic_plan.id)

	%div.content-wrapper
		%h2 Pro Membership
		%h4 In addition to the features of the free account, our Pro members will gain access to our online community of fitness coaches and other gym buddies. Not only will you be able to view our coaches workouts and recipe plans , you'll also be able to communicate with others and coordinate your very own workouts.
		= link_to "Sign up for Pro", new_user_registration_path(plan: @pro_plan.id)
		 -->
<input type="checkbox" id="sidebartoggler" name="" value=""></input>    
<div class="wrapper">  
    <label for="sidebartoggler" class="nav-toggle">☰</label>
<div class="page-content">    

		<div class="hero">
			<div class="hero-inner">
		    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
		" alt="Logo Image"></a>
				<div class="hero-copy">
					<h1>Short description of Product</h1>
					<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
				</div>
			</div>
		</div>

    <!--end hero-->
    <div class="cards">
		  <div class="card">
		    <div class="card-image">
		      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
		    </div>
		    <div class="card-header">
		      First Card
		    </div>
		    <div class="card-copy">
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-image">
		      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
		    </div>
		    <div class="card-header">
		      The Last Card
		    </div>
		    <div class="card-copy">
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		    </div>
		  </div>
		</div>
    <div class="intro-text">
      <h2>Some Heading</h2>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta rerum libero iste saepe.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur consectetur adipisicing elit. Perferendis para mitis eun non ullam atque debitis, illo adipisicing elit. Perferendis para mitis eun non ullam atque debitis, illo. Amet, consectetur adipisicing. <a href="javascript:void(0)">Read more <span>&#187;</span></a></p>
    </div>
    <section id="g-outer-ms">    
            <div class="grid-items-lines">
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
            <h1>Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
            <h1>Another Item</h1>
            <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Another Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Wider Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
            <h1>A Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
            <h1>Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <div class="right-cover"></div>
          <div class="bottom-cover"></div>
        </div>
    </section>    
    <!--end grid-->
</div>
    <aside class="sidebar">
        <nav class="main-nav">
            <ul class="nav">
                <li>Home</li>
                <li>Sounds</li>
                <li>Shows</li>
                <li>Bio</li>
                <li>Gallery</li>
            </ul>
        </nav>
    </aside>    
</div>    
    
</body>
</html>