
<div class="page-content">    
  <section>
    <div id="js-parallax-window" class="parallax-window">
  	  <div class="hero">
        <div class="parallax-static-content"></div>
          <div id="js-parallax-background" class="parallax-background">
      			<div class="hero-inner">
      		    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
      		" alt="Logo Image"></a>
      				<div class="hero-copy">
                <h1>Welcome to GymPal</h1>
      					<p>Your path to a happier, healthier you. <br> Sign up and join our large community of active people just like you!</p>
      				</div>
      			</div>
        </div>
      </div>
  	</div>
  </section>
  <section>
    <div class="intro-text">
      <h2>GymPal Difference</h2>
      <h4>At GymPal you are more than just a member, you are part of a supportive community.</h4>
      <p>Making the decision to join a gym is a great first step towards improving your health and quality of life. Whether your goal is to stay in shape, lose weight or get fit for an upcoming event, we are here for you.</span></a></p>
    </div>
  </section>
  <section>
    <div class="cards">
  	  <div class="card">
  	    <div class="card-image">
          <%= image_tag ("bridge-run.jpeg") %>
  	    </div>
  	    <div class="card-header">
  	      Join for Free
  	    </div>
  	    <div class="card-copy">
  	      <p>With our free membership, you'll gain access to our database of nutritional recipes, detailed exercises, and your very own workout log. The road to a healthier future is before you. Start today!</p>
          <%= link_to "Sign Up", new_user_registration_path(plan: @basic_plan.id) %>
  	    </div>
  	  </div>
  	  <div class="card">
  	    <div class="card-image">
          <%= image_tag ("social-gym.jpeg") %>
  	    </div>
  	    <div class="card-header">
  	      Become a PRO
  	    </div>
  	    <div class="card-copy">
  	      <p>In addition to the features of the free account, our Pro members will gain access to our online community of fitness coaches and other gym buddies. Not only will you be able to view our coaches workouts and recipe plans, you'll also be able to communicate with others and coordinate your very own workouts.</p>
          <%= link_to "Sign up for Pro", new_user_registration_path(plan: @pro_plan.id) %>
  	    </div>
  	  </div>
    </div>
  </section>
</div> 
    
</body>
</html>