// Workouts Log Page

ul > .workouts > .center-text > li {
  margin-top: 1.5em;
}

// Workouts Show Page

.column {
    display: table;
    margin-top: 1.5em;
    padding-top: 1em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    width: 50%;
    margin: auto;
    margin: auto;
    width: 50%;
}

.border-bottom {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 3px solid #EBEBEB;
}

.pro {
  color: black;
}